/*@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
  margin: 0;
  padding: 0;
}
.container{
  text-align: center;
  margin-top: 360px;
} */
.btn{
  /*border: 1px solid #3498db;*/
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Poppins";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}
.main__btn {
  font-size: 1.5rem;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 20px 60px;
  border: none;
  border-radius:4px;
  color:#fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;

}

.main__btn a{
  position: relative;
  z-index:2;
  color:#fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top:0;
  left:0;
  height:100%;
  width:0;
  background: #56cc9d;;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color:#fff;

}
.main__btn a:hover {
 text-decoration: none;

}
.main__btn:hover:after {
  width:100%;
}