@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  
}



.form-group
{
  margin: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100px;
}

.list li 
{
  list-style: none;
}


.dropdown
{
  position: relative;
  width: 150px;
  padding-left: 5px;
  color:#3a3a3a;
  
  cursor: pointer;
}

.default-option 
{
  padding:8px 25px ;
  color:#3a3a3a;
  
}

.dropdown-list ul
{
  list-style: none;
  background-color: #0B162C;
  top: 50px;
  left: 0px;
  position: absolute;
  width: 200%;
  border-radius: 5px;
  display: none;
  /*display:flex;
  flex-direction:row;
  flex-wrap: wrap;*/
  z-index: 1;
}

.dropdown-list ul li 
{

  padding:10px 10px 10px 20px;

}

.dropdown-list ul li a {
  text-decoration: none;
  color:#137c8b;
}
.dropdown-list ul li a:hover 
{
  color:#fff;
}

.dropdown-list ul li button 
{
  padding: 15px;
  /*background-color: #5FC2BA;*/
  background-color: #0B162C;
  border-radius:10px ;
  border: none;
  font-size: 1em;
  cursor: pointer;
}
/*
.dropdown-list ul li button:hover
{
  background-color: #5FC2BA;

}*/
.dropdown-list ul li button:hover a
{
  color:#fff;
  font-weight: bold;

}


/* dropdown icon*/
.default-option::before
{
  content: "";
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color:#0B162C transparent;
  position: absolute;
  right: 20px;
  top:50%;
}



.dropdown-list ul li::before 
{
  content: "";
  border-width: 0px 8px 8px 8px;
  border-style: solid;
  border-color:#0B162C transparent;
  position: absolute;
  bottom:100%;
  right: 168px;
  
}

.dropdown-list ul li:hover 
{
  border-radius: 2px;
}

.dropdown-list ul.active 
{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.dropdown-list ul li button.selected 
{
  background-color:#137c8b;
  
}
.dropdown-list ul li button.selected a
{
  color:#fff;
}


#search {
  
  border: 1px solid grey;
  border-radius: 5px;
  height: 40px;
  width: 500px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  transition: 0.1s ease-in;
  background-color: #f5f5f5;
  
}

#search:hover, #search:focus {
  border: 2px solid #0B162C;
  background-color: white;
}

#search__icon
{
  position: absolute;
  padding: 13px;
  
}


@media screen and (max-width:700px) {
 #search
 {
   width: 100%;
 } 
}

.card__wrapper
{
  margin: 2rem;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(20rem,25rem)) ;
  grid-gap: 2rem;
  justify-content: center;
}

.card
{
  overflow: hidden;
  box-shadow: 0px 2px 20px grey;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
  cursor: pointer;
}

.card__detail
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1.3rem;
}

.detail__field
{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
  
}
.number 
{
  font-weight: bold;
  color:#137c8b;
  font-size: 1.5rem;
}
.expression 
{
  color:#135058;
}
.card__img
{
  height: 12rem;
  width: 100%;
  object-fit: cover; 
}

.card__title
{
  padding: 1rem;
  color:#5FC2BA;
  /*margin-left: 5.5em;*/
  border-bottom: 1px  ;
  border-style:ridge;
  
  
  

}
.card__description
{
  padding: 0 1rem;

}

.card__btn
{
  font-family: inherit;
  padding:0.5rem;
  font-weight: bold;
  
  margin: 1rem;
  border: none;
  /*border:2px solid #2193b0;*/
  color:#2193b0;
  background: transparent;
  border-radius: 5px;
  transition:background 0.2s , color 0.2s;
 
  
}

.card__btn a 
{
  text-decoration: none;
  color:#2193b0;
}

.card:hover
{
  transform: scale(1.02);

}
.card__btn:hover
{
  background-color: #137c8b;;
}
.card__btn:hover a
{
  color:white;
}

.card__icons
{
  padding-bottom: 5px;
}
.card__icons img 
{
  
  margin: 5px;
  width: 30px;
  height: 30px;
}
.card__icons a
{
  color:#00000030;
  align-self: center;
  font-size: 1.8em;
  margin-bottom: -3px;
  margin-right: 15px;
}

.like i.fa-heart:hover
{
  color:#5FC2BA;
}
.heart i.fa-heart
{
  color:#5FC2BA;
}



.heart 
{
  animation: heart 0.5s linear;
}

@keyframes heart
{
  0%{
    transform: rotate(0deg) scale(1.7);
  }
  40%{
    transform: rotate(0deg) scale(1);
  }
  41%{
    transform: rotate(360deg) scale(1);
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}


.card__options 
{
  display: flex;
  flex-direction: column;
  justify-self: space-between;
}

.card__icons 
{
  display: flex;
  justify-content: center;
}

.card.activeCard
{
  display:block;
}

.card.nonactiveCard
{
  display: none;
}
/*
.like__notif
{
  
  display: none;
  width: 50px;
  align-self: center;
  margin-right: 150px;
  background-color: #5FC2BA;
  border-radius: 5px;
  padding:2px;
  transition: 0.5s;
  position: absolute;
  margin-top: 50px;
}

.like__notif.activeNotif
{
  display: block;
}
*/



