@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  
}

.navbar-custom
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.back__btn {
  height: 50x;
  font-size: 1.2rem;
 /* background: linear-gradient(to right, #3B556D, #5FC2BA, #1C2942);*/
  padding:0.5rem;
  border: none;
  border-radius:2px;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  background-color: #1C2942;
  
}

.back__btn a {
  position: relative;
  z-index:2;
  color:#fff;
  text-decoration: none;  
}



.back__btn:hover {
  background-color: #3B556D;
  border-radius: 10px;
}
.path__link
{
  margin-top: 30px;
  margin-left: 30px;
  
}
/*
.path__link a.usedLink 
{
  color:#00416a;
  font-weight: bold;
}*/

.path__link a
{
  font-weight: 500;
  font-size: 1rem;
  color: black;
  transition: 0.2s;
  background-image:linear-gradient(to bottom, #4ecdc4, #556270);
  background-size:100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  
}


.path__link a:hover 
{
  
  font-weight: 600;
} 
.main__container
{
  padding:50px ;
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center;*/
  
}
.main__header
{
  padding: 2rem;
  
}

/*
.main__header 
{
  padding: 50px;
  font-size: 3rem;
  font-family: inherit;
  background-image:linear-gradient(to bottom, #00416a, #e4e5e6);
  background-size:100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
} */

.comment i
{
  color:#00000030;

}

.rating
{
  display: flex;
  flex-direction: row;
  padding-bottom:25px ;
 
  
}

.recipe__container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}
.recipe__img img 
{
  border-radius:10px ;
  height: 350px;
  width: 350px;
  object-fit: cover;
  align-self: center;
  margin-bottom: 10px;
}
.star, .comment
{
  padding: 1rem;
}
.star span , .comment span 
{
  font-size: 1rem;
}


.first__details
{
  background-color: #137c8b;
  display: flex;
  flex-direction: row;
  border: 2px solid #135058;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 1rem;
 
  
}

.detail
{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  
}
.detail img 
{
  
  width:25px;
  height: 25px;
  margin-right: 5px;
  
}
.detail span
{
  font-size: 1rem;
}
.ingredient__container
{
  display: flex;
  flex-direction: column;
}

.quantity__container 
{
  display: flex;
  flex-direction: row;
  
  padding: 1rem;
  /*background: linear-gradient(to right, #076585, #fff);*/
  
  width:fit-content;
  border: 1px solid #ffff;
  border-radius: 5px;
  
  outline: 0;
  transition: 0.1s ease-in;
  background-color: #bdc3c7;
}
.quantity__container img
{
  width:20px;
  height: 20px;

}

.step__container
{
  
  
}




